.tela-cad-equip-container{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.tela-cad-equip-container .entrada-nome{

    display: flex;
    flex-direction: column;

}

.tela-cad-equip-container input{

    height: 30px;
}

.tela-cad-equip-container .itens{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tela-cad-equip-container .item{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.tela-cad-equip-container .item input{
    min-width: 240px;
}

.tela-cad-equip-container .btn-adicionar-item{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tela-cad-equip-container .btn-adicionar-item button{

    color: white;
    background-color: green;
    border-style: none;
    height: 30px;
    align-items: center;

}

.tela-cad-equip-container .btn-adicionar-item button:hover{
    background-color: rgb(95, 255, 95);
}


.tela-cad-equip-container .botoes{

    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 10px;

}

.tela-cad-equip-container .btn-cadastrar{

    background-color: green;
    height: 50px;
    border-style: none;
    border-radius: 5px;
}

.tela-cad-equip-container .btn-cadastrar:hover{

    background-color: rgb(95, 255, 95);
    transition: background-color ease 0.1s;

}


.tela-cad-equip-container .btn-cancelar{
    color:white;
    background-color: rgb(255, 64, 64);
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-right: 10px;

}

.tela-cad-equip-container .btn-cancelar:hover{
    background-color: rgb(255, 0, 0);
    transition: background-color ease 0.1s;



}

.tela-cad-equip-container .btn-remover{
    color:white;
    background-color: rgb(187, 0, 0);
    border-style: none;



}

.tela-cad-equip-container .btn-remover:hover{
    color:white;
    background-color: rgb(255, 0, 0);
    transition: background-color ease 0.1s;



}