.buttonAdd{
    background-color: #04AA6D;
    border: none;
    color: white;
    width: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
}

.divAdd{
    padding-left: 94%;
    padding-bottom: 2%;
}