.container-tela-cadastro{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    border-color: teal;
    background-color: rgb(215, 225, 255);
    max-width: 550px;
    padding: 10px;


}

.form-cad-lab>button{

    color:white;
    background-color: green;
    border-style: none;
    border-radius: 10px;
    

}

.form-cad-lab>button:hover{
    background-color: rgb(0, 211, 0);

}

.form-nome-sala>button{
    color:white;
    background-color: rgb(0, 105, 105);
    border-style: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-right:20px;
}

.form-nome-sala>button:hover{
    background-color: rgb(0, 165, 165);
}

.form-nome-sala{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.container-tela-cadastro>.form-cad-lab{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.container-tela-cadastro  input{

    height: 30px;
    width:400px;
}

.container-tela-cadastro .form-btn button{

    display: flex;
    align-items: center;
    height: 100%;
    
}

.input-add-sala{
    width: 80%;
}

.todo-controle{
    display: flex;
    flex-direction: row;
}

.todo-controle div{
    display: flex;
    justify-content: space-between;
}

.row-todo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(8, 79, 121);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}




.lista-salas-todo{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

.btn-bottom{
    display: flex;
    width: 100%;
    justify-content: flex-end
}

.btn-bottom a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: 30px;
    color: white;
    background-color: crimson;
    border-style: none;
    margin-top: 10px;
    transition: background-color ease 0.1s;
    border-radius: 10px;

}

.btn-bottom button:hover{
    background-color: red;
    transition: background-color ease 0.5s;
}