
.tela-cadastro-sala .h1{

    align-self: center;
}

.tela-cadastro-sala .form-sala{

    display: flex;
    align-items: center;
    background-color: green;


}

.tela-cadastro-sala .form-sala button{

    background-color: red;
    color:white;
    border-radius: 8px;
}