.container{

    display:flex;
    flex-direction: column;


}

.topo{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;


}



.topo a{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 8px;
    border-radius: 3px;


}

.topo a:hover{

    background-color: white;
}

.topo a:visited{

    color: black;
}